/*  основной цвет h #757575*/
/*  вторичный цвет p #212121 */
/*  кнопка фон цвет    #2196F3 */
/* кнопка шрифт цвет #FFFFFF */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --button-text-color: #ffffff;
  --background-color: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.list {
  list-style-type: none;
}
h2 {
  color: var(--primary-text-color);
}
p {
  color: var(--secondary-text-color);

  font-size: 14px;

  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}
/* лого */
.nav .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: normal;
  letter-spacing: 0.78px;
}
span {
  color: var(--accent-color);
}
.accent {
  color: var(--accent-color);
  text-decoration: none;
}
.logo a {
  text-decoration: none;
  color: #000000;
}
/* навігація */
.nav a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
  color: #212121;
  text-decoration: none;
}
.nav a:hover,
.nav a:focus {
  color: var(--accent-color);
}

.mail a:hover,
.mail a:focus {
  color: var(--accent-color);
}
.tel a:hover,
.tel a:focus {
  color: var(--accent-color);
}

/* футер */
.footer {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
  background-color: var(--background-color);
}
.footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  letter-spacing: 0.78px;
  color: black;
}
.mail-footer,
.tel-footer {
  color: rgba(255, 255, 255, 0.6);
}
.kiev {
  color: var(--button-text-color);
}
.footer .list a:hover,
.footer .list a:focus {
  color: var(--accent-color);
}
